body{
  width: 1519px;
  background-color: #010101;
  height: 0;
  
}
header{
  background-image: url(../imgs/banner2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1080px;
  padding-top: 47px;
  
}
.li_menu:hover{
  color: #1C2329;
}
.ul_menu{
  font-family: "Bruno Ace SC";
  display: flex;
  list-style: none;
  justify-content: space-around;
  font-size: 15px;
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
  height: 60px;    
}
.li_menu{
  margin-left: 30px;
}
.a_menu{
  line-height: 60px;
  color: #FFFFFF;
  text-decoration: none;
}
.a_menu:hover{
  color: #627A8F;
}
.a_menu_imgs{
  height: 100%;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  padding: 0 162px 0 162px;
}
.a_menu_imgs--ins{
  position: relative;
  right: 50px;
}
.a_menu_app{
  position: relative;
  top: 6px;
}

.galaxy-night-panorama-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1519px;
  height: 4558.2px;
  object-fit: contain;
}
.galaxy-night-panorama-1-frame,
.nasa-q1p7bh3shj8-unsplash-1-icon2 {
  position: absolute;
  top: 588.8px;
  left: 0;
  width: 1519px;
  height: 4558.2px;
}
.nasa-q1p7bh3shj8-unsplash-1-icon2 {
  top: 0;
  height: 2165.7px;
  object-fit: cover;
}

.frame-child11,
.frame-child13 {
  position: absolute;
  top: 38.9px;
  left: 1005.8px;
  width: 15.8px;
  height: 15.8px;
  object-fit: contain;
}
.frame-child13 {
  top: 9.6px;
  left: 951.3px;
  width: 0.7px;
  height: 78.9px;
}
.contact8 {
  top: 0;
  left: 0;
  display: inline-block;
  filter: blur(4px);
}
.contact-parent2,
.contact8,
.contact9 {
  position: absolute;
  width: 98.7px;
  height: 18.9px;
}
.contact9 {
  top: 0;
  left: 0;
  display: inline-block;
}
.contact-parent2 {
  top: 38.9px;
  left: 1204.8px;
  text-align: left;
}
.galaxy-night-landscape-1-icon2,
.icon8 {
  position: absolute;
  top: 0;
  left: -1px;
  width: 1519px;
  height: 855px;
  object-fit: cover;
}
.icon8 {
  top: 194px;
  left: 494px;
  width: 1024.8px;
  height: 586.6px;
}
.group-child51 {
  position: absolute;
  right: -1148.5px;
  bottom: -500px;
  border-radius: var(--br-111xl);
  background-color: var(--color-gray-200);
  box-shadow: 40px 50px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(30px);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 1231.4px;
  height: 578.1px;
  transform: rotate(-179.8deg);
  transform-origin: 0 0;
}
.desert-starry-sky-background-a-icon5 {
  position: absolute;
  top: 0;
  left: 569.7px;
  width: 737.3px;
  height: 795.4px;
  object-fit: cover;
}
.group-wrapper4,
.rectangle-parent12 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1307px;
  height: 795.4px;
}
.group-wrapper4 {
  right: 68px;
  bottom: 4296.6px;
}
.group-child52,
.group-child53 {
  position: absolute;
  top: -1px;
  left: 967.1px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 440.9px;
  height: 2px;
}
.group-child53 {
  left: -1px;
}
.line-parent6 {
  position: absolute;
  top: 1082.7px;
  left: 65px;
  width: 1407px;
  height: 0;
}
.frame-child14,
.frame-child15 {
  position: absolute;
  top: 1363px;
  left: 1367px;
  background-color: var(--color-lightpink);
  border: 10px solid var(--color-lightsteelblue);
  box-sizing: border-box;
  width: 546px;
  height: 443px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.frame-child15 {
  top: 2122px;
  left: 655px;
  width: 559px;
  height: 454px;
}
.spaceships2 {
  position: absolute;
  top: 1044px;
  left: 537px;
  font-size: var(--font-size-61xl);
  line-height: 100px;
  font-family: var(--font-nico-moji);
  display: inline-block;
  width: 456px;
  height: 77px;
}
.group-child54,
.group-child55 {
  position: absolute;
  top: 0;
  left: 391.8px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 179.6px;
  height: 2px;
}
.group-child55 {
  left: 0;
}
.line-parent7 {
  position: absolute;
  top: 27.1px;
  left: 0;
  width: 569.3px;
  height: 0;
}
.group-parent15,
.mir2 {
  position: absolute;
  height: 54.8px;
}
.mir2 {
  top: 0;
  left: 8.4px;
  display: inline-block;
  width: 551.6px;
}
.group-parent15 {
  top: 1429px;
  left: 97.7px;
  width: 569.3px;
  font-size: var(--font-size-45xl);
}
.group-child56 {
  position: absolute;
  top: 0;
  left: 391.7px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 179.6px;
  height: 2px;
}
.line-parent8,
.new-horizons2 {
  position: absolute;
  top: 59.7px;
  left: 0;
  width: 569.3px;
  height: 0;
}
.new-horizons2 {
  top: 0;
  left: 53.2px;
  display: inline-block;
  width: 476.9px;
  height: 55.1px;
}
.group-parent16 {
  position: absolute;
  top: 2204px;
  left: 801px;
  width: 569.3px;
  height: 59.7px;
  font-size: var(--font-size-45xl);
}
.salyut5 {
  text-decoration: underline;
}
.salyut4 {
  color: inherit;
}
.mir-was-authorised-by-container2 {
  position: absolute;
  top: 1537.3px;
  left: 94px;
  font-size: var(--font-size-base);
  text-align: justify;
  display: inline-block;
  width: 665.4px;
  height: 360.3px;
}
.new-horizons-is-an-interplanet-container5 {
  width: 100%;
}
.new-horizons-is-an-interplanet-container4 {
  position: absolute;
  top: 2364px;
  left: 788px;
  text-align: left;
  display: flex;
  align-items: flex-end;
  width: 665.4px;
  height: 360.3px;
}
.tramhoabinh-preview-rev-1-1-icon2 {
  position: absolute;
  top: 1392px;
  left: 795px;
  width: 667px;
  height: 652px;
  object-fit: cover;
  animation-name: flo;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}
.new-horizons-spacecraft-model-icon2 {
  animation-name: flo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 2101px;
  left: 97px;
  width: 644px;
  height: 600px;
  object-fit: cover;
}
.the-space-shuttle-is-a-container12,
.the-space-shuttle-is-a-container14,
.the-space-shuttle-is-a-container16 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 342.6px;
  height: 462.8px;
}
.the-space-shuttle-is-a-container14,
.the-space-shuttle-is-a-container16 {
  top: 6px;
  left: 401.9px;
}
.the-space-shuttle-is-a-container16 {
  left: 803.8px;
}
.the-space-shuttle-is-a-retired-container {
  position: absolute;
  top: 3256px;
  left: 220px;
  width: 1146.4px;
  height: 468.8px;
  text-align: left;
}
.group-child58,
.group-child59 {
  position: absolute;
  top: 0;
  left: 574.3px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 262.3px;
  height: 2px;
}
.group-child59 {
  left: 0;
}
.line-parent9,
.space-shuttle2 {
  position: absolute;
  top: 48.3px;
  left: 0;
  width: 834.7px;
  height: 0;
}
.space-shuttle2 {
  top: 0;
  left: 207.3px;
  display: inline-block;
  width: 403.5px;
  height: 157.4px;
}
.group-parent17 {
  position: absolute;
  top: 2998px;
  left: 360px;
  width: 834.7px;
  height: 157.4px;
  font-size: var(--font-size-45xl);
}
.group-child60 {
  position: absolute;
  top: 406px;
  left: 1015px;
  background-color: var(--color-lightpink);
  border: 10px solid var(--color-lightsteelblue);
  box-sizing: border-box;
  width: 234.4px;
  height: 1015px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.space-shuttle-8473070-1280-1-icon2 {
  position: absolute;
  top: 0;
  left: 49px;
  width: 965.8px;
  height: 879.3px;
  object-fit: contain;
  animation-name: flo;
  animation-duration: 5s;
  animation-iteration-count: infinite;

}
.group-child61,
.rectangle-parent13 {
  position: absolute;
  top: 3469px;
  left: 280px;
  width: 1015px;
  height: 879.3px;
}
.group-child61 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background: linear-gradient(90deg, rgba(28, 35, 41, 0.77), #627a8f);
  border: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 241.1px;
  height: 73.1px;
}
.read-now3 {
  position: absolute;
  top: 20px;
  left: 21px;
  display: flex;
  align-items: flex-end;
  width: 200px;
  height: 33px;
}
.rectangle-parent14 {
  position: absolute;
  top: 369px;
  left: 27px;
  width: 241.1px;
  height: 73.1px;
}
.spaceships-are-vessels2 {
  position: absolute;
  top: 128px;
  left: 20px;
  font-size: var(--font-size-xl);
  text-align: left;
  display: flex;
  align-items: flex-end;
  width: 546px;
  height: 211px;
}
.introduce6 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-61xl);
  line-height: 100px;
  font-family: var(--font-nico-moji);
  text-align: center;
  display: inline-block;
  width: 586px;
  height: 126px;
}
.group-parent19,
.group-wrapper5,
.rectangle-7-12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 586px;
  height: 442.1px;
}
.group-wrapper5,
.rectangle-7-12 {
  left: 326px;
}
.rectangle-7-12 {
  top: 242px;
  left: 0;
  width: 442px;
  height: 442px;
  object-fit: contain;
}
.group-parent18 {
  position: absolute;
  top: 240px;
  left: -122px;
  width: 912px;
  height: 684px;
  text-align: justify;
  font-size: var(--font-size-13xl);
}
.group-top {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 5147px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-bruno-ace-sc);
}
footer{
  position: relative;
  top: -2400px;
}
.img_footer{
  position: relative;
  width: 100%;
  top: 2000px;
}
.content_footer{
  display: flex;
  top: 1800px;
  position: relative;
  color: #FFFFFF;
  font-family: "Bruno Ace SC";
  margin-right: 40px;
}
.h1_footer{
  border-bottom: 2px solid #FFFFFF;
  font-size: 25px;
  width: 120px;
  position: relative;
  left: 40px;
}
.ul_footer{
  padding-top: 30px;
  list-style: none;
}
.a_footer{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
}
.group_link{
  padding-left: 65px;
}
.ul_footer_icon{
  display: flex;
}

.img_icon{
  padding-left: 30px;
  width: 40px;
}
.group_link_right{
  text-align: right;
}
.h1_footer_right{
  width: 90%;
}
.footer{
  margin-top: px;
}
.ul_footer_2{
  position: relative;
  top: 1771px;
  display: flex;
  justify-content: space-evenly;
  background-color: #5B6C7E;
  list-style: none;
  height: 73px;
}
.a_footer2{
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Bruno Ace SC";
  font-size: 10px;
}
.ul_footer_2 li{
  margin-top: 24px;
}
.img_footer2{
  width: 50px;
  position: relative;
  bottom: 10px;
}
.btn{
  position: relative;
  top: 370px;
  left: 20px;
  background-image:  linear-gradient(to right, #1C2329 , #627A8F);
  width: 350px;
  height: 80px;
  border-radius: 5px;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #FFFFFF, #627A8F) 1;
}

.a_btn{
  font-family: "Bruno Ace SC";
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;

}
.a_menu_imgs--ins{
  left: -50px;
}
/* HOVER BUTTON */
.btn .a_btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.a_btn:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -2px;
  right: -20px;
  transition: 0.5s;
}
.btn:hover .a_btn {
  padding-right: 25px;
}
.btn:hover .a_btn:after {
  opacity: 1;
  right: 0;
}


.btn {
  /* border: 2px solid; */
  border-style: solid;
  border-image: linear-gradient(to right, #FFFFFF, #627A8F) 1;
  /* box-shadow: inset 0 0 20px rgba(255, 255, 255, 0); */
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 

.btn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
@keyframes flo{
  50%{
    transform: translateY(60px);
  }
}
@keyframes app-logo-spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}